<html>
    <head>
        <title>
            Text utils
        </title>
    </head>
    <body>
        <h1>Welocme to the text analyser. Enter your text below.</h1>
        <form action="/analyse" method="GET">
            <textarea name='text' style="width: 945px; height: 160px;"></textarea><br>
            <input type="checkbox" name="removepunc">Remove Punctuation<br>
            <input type="checkbox" name="fullcaps">Upper Case<br>
            <input type="checkbox" name="newlineremover">New Line Remover<br>
            <input type="checkbox" name="extraspaceremover">Extra Space Remover<br>
            <Button type="submit">Analyse Text</Button>
        </form>
    </body>
</html>